body {
  background-color: lightgray; 
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  margin: 20px 0;
  text-align: center;
}
nav ul {
  padding: 0;
  margin: 20px auto;
  display: inline-block;                 
}
nav ul li {
  margin: 12px;
}
nav ul li a {
  color: #ff6600; 
  font-size: 18px;
  text-decoration: none;
}
.card , .event-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  margin-top: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 12px; 
}
input, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
button {
  background-color: #ff6600;
  color: white;
  border-radius: 10px;
}
footer {
  margin-top: 40px;
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
}
footer a {
  color: #ff6600;
  margin:10px;
  text-decoration: none;
}
@media (min-width: 600px) and (max-width: 900px) {
  .card, .event-card {
    height: 100px;
    width: 100px;
  }
}


